# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List examples of how to evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib (Visualization)
4. Seaborn (Visualization)
5. Sckit-learn (Machine learning)

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| Watson Studio      |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

In [18]:
hr = 60
conversion = 200 / hr
print(conversion)

3.3333333333333335

## Author
Jarrale